src/Folder/enchant_puyo-master/images/resize/pad_test.png
src/Folder/enchant_puyo-master/images/resize/pad_200_100.png
src/Folder/enchant_puyo-master/images/pad.png
src/Folder/enchant_puyo-master/images/CommentImage/imageview.gif
src/Folder/enchant_puyo-master/images/CommentImage/pad反応範囲.bmp
src/Folder/enchant_puyo-master/images/NowLoading.gif
src/Folder/enchant_puyo-master/js/GamePad.js
src/Folder/enchant_puyo-master/images/resize/puyopuyo2_bef.png
