/****************************************************************/
/*再生ボタン*/
/***************************************************************/
/*.btn-MusicPlay {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;//ボタン色
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-MusicPlay:active {
  //ボタンを押したとき
  -webkit-transform: translateY(4px);
  transform: translateY(4px);//下に動く
  border-bottom: none;//*線を消す
}
/****************************************************************/
/*再生ボタン（丸立体ver*/
/****************************************************************/
.btn-MusicPlay {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);/*アイコン色*/
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.5);
  border-bottom: solid 2px #b5b5b5;
}
.btn-MusicPlay i {
  line-height: 80px;
}
.btn-MusicPlay:active {
  /*押したとき*/
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}